name: Build and Push Docker Image

on:
  # Запуск при пуше в ветку main или создании тега
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'  # Например, v1.0.0

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout кода
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Логин в Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASS }}

      # 3. Сборка образа
      - name: Build Docker image
        run: |
          docker build \
            -t artemtaraschenko/foodflow-backend:latest \
            -t artemtaraschenko/foodflow-backend:${GITHUB_SHA::8} \
            -f backend/Dockerfile \
            .

      # 4. Публикация образа
      - name: Push Docker image
        run: |
          docker push artemtarashenko/foodflow-backend:latest
          docker push artemtarashenko/foodflow-backend:${GITHUB_SHA::8}

      
